node_modules
frontend/node_modules
artifacts/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC20Errors.dbg.json
artifacts/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC20Errors.json
artifacts/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC721Errors.dbg.json
artifacts/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC721Errors.json
artifacts/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC1155Errors.dbg.json
artifacts/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC1155Errors.json
artifacts/@openzeppelin/contracts/token/ERC721/ERC721.sol/ERC721.dbg.json
artifacts/@openzeppelin/contracts/token/ERC721/ERC721.sol/ERC721.json
artifacts/@openzeppelin/contracts/token/ERC721/IERC721.sol/IERC721.dbg.json
artifacts/@openzeppelin/contracts/token/ERC721/IERC721.sol/IERC721.json
artifacts/@openzeppelin/contracts/token/ERC721/IERC721Receiver.sol/IERC721Receiver.dbg.json
artifacts/@openzeppelin/contracts/token/ERC721/IERC721Receiver.sol/IERC721Receiver.json
artifacts/@openzeppelin/contracts/token/ERC721/extensions/IERC721Metadata.sol/IERC721Metadata.dbg.json
artifacts/@openzeppelin/contracts/token/ERC721/extensions/IERC721Metadata.sol/IERC721Metadata.json
artifacts/@openzeppelin/contracts/token/ERC721/utils/ERC721Utils.sol/ERC721Utils.dbg.json
artifacts/@openzeppelin/contracts/token/ERC721/utils/ERC721Utils.sol/ERC721Utils.json
artifacts/@openzeppelin/contracts/utils/Context.sol/Context.dbg.json
artifacts/@openzeppelin/contracts/utils/Context.sol/Context.json
artifacts/@openzeppelin/contracts/utils/Panic.sol/Panic.dbg.json
artifacts/@openzeppelin/contracts/utils/Panic.sol/Panic.json
artifacts/@openzeppelin/contracts/utils/Strings.sol/Strings.dbg.json
artifacts/@openzeppelin/contracts/utils/Strings.sol/Strings.json
artifacts/@openzeppelin/contracts/utils/introspection/ERC165.sol/ERC165.dbg.json
artifacts/@openzeppelin/contracts/utils/introspection/ERC165.sol/ERC165.json
artifacts/@openzeppelin/contracts/utils/introspection/IERC165.sol/IERC165.dbg.json
artifacts/@openzeppelin/contracts/utils/introspection/IERC165.sol/IERC165.json
artifacts/@openzeppelin/contracts/utils/math/Math.sol/Math.dbg.json
artifacts/@openzeppelin/contracts/utils/math/Math.sol/Math.json
artifacts/@openzeppelin/contracts/utils/math/SafeCast.sol/SafeCast.dbg.json
artifacts/@openzeppelin/contracts/utils/math/SafeCast.sol/SafeCast.json
artifacts/@openzeppelin/contracts/utils/math/SignedMath.sol/SignedMath.dbg.json
artifacts/@openzeppelin/contracts/utils/math/SignedMath.sol/SignedMath.json
artifacts/build-info/1c0d898876e2ef5a61ff86fca2e0ced1.json
artifacts/build-info/6fae76f9075256f1f4b31b1d9615309c.json
artifacts/contracts/Voting.sol/Voting.dbg.json
artifacts/contracts/Voting.sol/Voting.json
cache/solidity-files-cache.json
package-lock.json
